OPNSENSE_URL=opnsense_url_here
OPNSENSE_API_KEY=your_opnsense_api_key_here
OPNSENSE_API_SECRET=your_opnsense_api_secret_here
OPNSENSE_VERIFY_SSL=false
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=changeme
SECRET_KEY=generate-a-long-random-string-here